<h5 style="text-align: center;font-size: 25px;">Thông tin chi tiết</h5>
<a href="/formCreate" class="btn btn-infor">Tạo sản phẩm mới</a>
<table style="width: 100%;" class="table">
    <thead>
        <tr>
            <th scope="col">Tên sản phẩm</th>
            <th scope="col">Giá sản phẩm</th>
            <th scope="col">Số lượng sản phẩm</th>
            <th scope="col">Danh mục sản phẩm</th>
            <th scope="col">Size</th>
            <th scope="col">Màu sắc</th>
            <th scope="col">Mô tả</th>
            <th scope="col">Hình</th>

        </tr>
    </thead>
    <tbody>
        {{#each pr_ar}}
        <tr>
            <td scope="col">{{this.product_name}}</td>
            <td scope="col">{{this.product_price}}</td>
            <td scope="col">{{this.product_quantity}}</td>
            <td scope="col">{{this.product_category}}</td>
            <td scope="col">{{this.product_size}}</td>
            <td scope="col">{{this.product_color}}</td>
            <td scope="col">{{this.product_description}}</td>
            <td scope="col"><img src="../public/hinhanhtaive/{{this.product_image}}" alt="" width="30px"></td>
            <td>
                <a href="/product/update/{{this._id}}" class="btn btn-primary btn-sm" style="margin-bottom: 10px;">
                    Sửa</a>
                <a href="/product/delete/{{this._id}}" onclick="return confirm('Bạn có muốn xóa không ?')"
                    class="btn btn-secondary btn-sm">
                    Xóa</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>