
<div class="container">
  <div class="row" style=" height: 600px;width: 100%;">
    <div class="col-lg-3" style="position: relative;background-color: white;
      border: 1px solid #DCDCDC;margin: 10px;box-shadow: rgba(0, 0, 0, 0.16)
      0px 1px 4px;height: fit-content;">
      <p class="a"><a style="text-decoration: none;color: black;font-size:
          23px;margin-left: -1110px;" href="#">Danh mục</a></p>
      <p style="background-color: #808080; height: 1px; width: 100%;"></p>
      <div class="list-group">
        <ul class="list-group list-group-horizontal" style="margin-bottom:
          20px;">
          <img src="/shose.png" alt="shose" width="50px" height="30px">
          <li class="list-group"> <a class="a_danhmuc" href="#">Giày đá bóng</a></li>
        </ul>

        <ul class="list-group list-group-horizontal" style="margin-bottom:
          20px;">
          <img src="/clothes.png" alt="clothes" width="40px" height="50px"
            style="padding-left: 10px;">
          <li class="list-group"> <a style="padding-top: 14px;"
              class="a_danhmuc" href="#">Quần áo</a></li>
        </ul>
        <ul class="list-group list-group-horizontal" style="margin-bottom:
          20px;">
          <img src="/Goalkeeper.png" alt="Goalkeeper" width="60px"
            height="40px">
          <li class="list-group"> <a style="padding-top: 9px;"
              class="a_danhmuc" href="#">Găng tay thủ môn</a></li>
        </ul>
        <ul class="list-group list-group-horizontal" style="margin-bottom:
          20px;">
          <img src="/backpack.png" alt="backpack" width="50px" height="50px"
            style="padding-left:5px;">
          <li class="list-group"> <a style="padding-top: 14px;"
              class="a_danhmuc" href="#">Balo</a></li>
        </ul>
        <ul class="list-group list-group-horizontal" style="margin-bottom:
          20px;">
          <img src="/Cup.png" alt="Cup" width="50px" height="50px"
            style="padding-left:5px;">
          <li class="list-group"> <a style="padding-top: 10px;"
              class="a_danhmuc" href="#">Cúp - Huy Chương</a></li>
        </ul>

      </div>
    </div>
    <div class="col-lg-8" style="margin-left: 85px;">
      <div class="row">
        <div id="carouselExampleFade" class="carousel slide carousel-fade">
          <div class="carousel-inner" style="box-shadow: rgba(0, 0, 0, 0.15)
            1.95px 1.95px 2.6px; border-radius: 15px;">
            <div class="carousel-item active">
              <img src="/slides_1.jpg" class="img_slides" alt="..."
                width="100%">
            </div>
            <div class="carousel-item">
              <img src="/slides_2.jpg" class="img_slides" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/slides_3.jpg" class="img_slides" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/slides_4.jpg" class="img_slides" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button"
            data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button"
            data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

      <div style="background-color: #F7F7F7;margin: 20px -154px 0px
        -545px;padding: 30px 0px 20px 0px;">
        <div>
          <p class="a"><a style="text-decoration: none;color: black;"
              href="#">SẢN PHẨM NỔI BẬT</a></p>
        </div>
        <div class="row" style="justify-content: space-around;flex-wrap:
          wrap;">
          <div class="row row-cols-1 row-cols-md-3 g-3">

            <div class="card" style="width: 16rem;height: 29.7rem;box-shadow:
              rgba(0, 0, 0, 0.24) 0px 3px 8px;margin-left: 120px;cursor:
              pointer;">

              <img style=" padding: 9px;
                height: 24rem;
                cursor: pointer;
                width: 15rem;" src="/pro_shose.png" class="card-img-top"
                alt="...">
              <div class="card-body">
                <span style="color: #b9b7b7; text-transform:
                  uppercase;font-size: 13px;">soccer shoes</span>
                <h5 class="card-title">Puma King</h5>
                <p style="padding-top: 5px;font-weight: bold;color: red;"
                  class="card-text">$4.99</p>
                <p class="card-text">Control never felt this comfortable. An
                  icon that spans generations, the KING is back with bold
                  design upgrades</p>

                <!-- <a href="#" class="btn btn-primary">Xem chi tiết</a> -->
              </div>

            </div>

            <div class="card" style="width: 16rem;height: 29.7rem;box-shadow:
              rgba(0, 0, 0, 0.24) 0px 3px 8px;margin-left: 80px;cursor:
              pointer;">

              <img style=" padding: 9px;
                height: 24rem;
                cursor: pointer;
                width: 15rem;" src="/pro_shose1.png" class="card-img-top"
                alt="...">
              <div class="card-body">
                <span style="color: #b9b7b7; text-transform:
                  uppercase;font-size: 13px;">soccer shoes</span>
                <h5 class="card-title">Puma King</h5>
                <p style="padding-top: 5px;font-weight: bold;color: red;"
                  class="card-text">$4.99</p>
                <p class="card-text">Control never felt this comfortable. An
                  icon that spans generations, the KING is back with bold
                  design upgrades</p>

                <!-- <a href="#" class="btn btn-primary">Xem chi tiết</a> -->
              </div>
            </div>

            <div class="card" style="width: 16rem;height: 29.7rem;box-shadow:
              rgba(0, 0, 0, 0.24) 0px 3px 8px;margin-left: 80px;cursor:
              pointer;">

              <img style=" padding: 9px;
                height: 24rem;
                cursor: pointer;
                width: 15rem;" src="/pro_shose2.png"
                class="card-img-top"
                alt="...">
              <div class="card-body">
                <span style="color: #b9b7b7; text-transform:
                  uppercase;font-size: 13px;">soccer shoes</span>
                <h5 class="card-title">Puma King</h5>
                <p style="padding-top: 5px;font-weight: bold;color: red;"
                  class="card-text">$4.99</p>
                <p class="card-text">Control never felt this comfortable. An
                  icon that spans generations, the KING is back with bold
                  design upgrades</p>

                <!-- <a href="#" class="btn btn-primary">Xem chi tiết</a> -->
              </div>
            </div>

            <div class="card" style="width: 16rem;height: 29.7rem;box-shadow:
              rgba(0, 0, 0, 0.24) 0px 3px 8px;margin-left: 80px;cursor:
              pointer;">

              <img style=" padding: 9px;
                height: 24rem;
                cursor: pointer;
                width: 15rem;" src="/pro_shose6.png"
                class="card-img-top"
                alt="...">
              <div class="card-body">
                <span style="color: #b9b7b7; text-transform:
                  uppercase;font-size: 13px;">soccer shoes</span>
                <h5 class="card-title">Puma King</h5>
                <p style="padding-top: 5px;font-weight: bold;color: red;"
                  class="card-text">$4.99</p>
                <p class="card-text">Control never felt this comfortable. An
                  icon that spans generations, the KING is back with bold
                  design upgrades</p>

                <!-- <a href="#" class="btn btn-primary">Xem chi tiết</a> -->
              </div>
            </div>

            <div class="card" style="width: 16rem;height: 29.7rem;box-shadow:
              rgba(0, 0, 0, 0.24) 0px 3px 8px;margin-left: 120px;cursor:
              pointer;">

              <img style=" padding: 9px;
                height: 13rem;
                cursor: pointer;
                width: 15rem;" src="/pro_shose5.png"
                class="card-img-top"
                alt="...">
              <div class="card-body">
                <span style="color: #b9b7b7; text-transform:
                  uppercase;font-size: 13px;">soccer shoes</span>
                <h5 class="card-title">Puma King</h5>
                <p style="padding-top: 5px;font-weight: bold;color: red;"
                  class="card-text">$4.99</p>
                <p class="card-text">Control never felt this comfortable. An
                  icon that spans generations, the KING is back with bold
                  design upgrades</p>

              </div>
            </div>

            <div class="card" style="width: 16rem;height: 29.7rem;box-shadow:
              rgba(0, 0, 0, 0.24) 0px 3px 8px;margin-left: 80px;cursor:
              pointer;">

              <img style=" padding: 9px;
                height: 24rem;
                cursor: pointer;
                width: 15rem;" src="/pro_shose4.png"
                class="card-img-top"
                alt="...">
              <div class="card-body">
                <span style="color: #b9b7b7; text-transform:
                  uppercase;font-size: 13px;">soccer shoes</span>
                <h5 class="card-title">Puma King</h5>
                <p style="padding-top: 5px;font-weight: bold;color: red;"
                  class="card-text">$4.99</p>
                <p class="card-text">Control never felt this comfortable. An
                  icon that spans generations, the KING is back with bold
                  design upgrades</p>

                <!-- <a href="#" class="btn btn-primary">Xem chi tiết</a> -->
              </div>
            </div>

            <div class="card" style="width: 16rem;height: 29.7rem;box-shadow:
              rgba(0, 0, 0, 0.24) 0px 3px 8px;margin-left: 80px;cursor:
              pointer;">

              <img style=" padding: 9px;
                height: 26rem;
                cursor: pointer;
                margin-top: -35px;
                margin-left: -33px;
                width: 19rem;" src="/pro_shose10.png"
                class="card-img-top"
                alt="...">
              <div class="card-body">
                <span style="color: #b9b7b7; text-transform:
                  uppercase;font-size: 13px;">soccer shoes</span>
                <h5 class="card-title">Puma King</h5>
                <p style="padding-top: 5px;font-weight: bold;color: red;"
                  class="card-text">$4.99</p>
                <p class="card-text">Control never felt this comfortable. An
                  icon that spans generations, the KING is back with bold
                  design upgrades</p>

                <!-- <a href="#" class="btn btn-primary">Xem chi tiết</a> -->
              </div>
            </div>

            <div class="container-sm">
              <img class="img_banner" src="/banner.jpg" alt="banner"
                width="660px" height="900px">

              <div>
                <h1>Felt Clothing</h1>

                <h3>SUVEC</h3>
                <button style=" margin-left : 50px;" class="button"><span>Shop
                    Collection</span>

                </button>
                <img class="img_banner1" src="/banner1.jpg"
                  alt="banner" width="750px" height="500px">
              </div>

            </div>

          </div>
        </div>
      </div>

      <div class="container2">
        <div>
          <div class="video">
            {{!-- <video
              src="https://brand.assets.adidas.com/video/upload/q_auto,vc_auto/video/upload/running-ss23-ultraboost-light-global-launch-hp-masthead-large-d_sw5pet.mp4"
              preload="auto" autoplay loop playsinline
              webkit-playsinline
              x5-playsinline style=" height: 678px"></video> --}}
            <video src="/bong-a-140210.mp4"
              preload="auto" autoplay loop playsinline
              webkit-playsinline
              x5-playsinline style=" height: 896px;width: 1540px;"></video>
          </div>
          <div class="text-video">
            <h2><strong>NĂNG LƯỢNG VƯỢT<br> TRỘI. NHẸ NHẤT TỪ<br> TRƯỚC ĐẾN
                NAY.</strong></h2>
            <h4>Giày Ultraboost nhẹ nhất của adidas <br> từ trước đến nay.</h4>
          </div>

          <button style="margin-left : 100px;" class="button-video">
            <span>Buy now</span>
          </button>

        </div>
      </div>

      <div style="margin: -413px -178px 107px -580px;">
        <div style="cursor: pointer; color: red; width:500px;">
          <p class="a2"><a style="text-decoration: none;color: black;"
              href="#">XEM THÊM CÁC SẢN PHẨM CỦA STARSPORT</a></p>
        </div>

        <h5 style="margin-left: 184px; font-size: 20px;">{{dem}} Sản phẩm thích
          hợp</h5>

        <div>

          <div class="row" style="justify-content: space-around;flex-wrap:
            wrap;margin :0px 0px 300px 10px;">
            <div class="row row-cols-1 row-cols-md-3 g-3">

              {{#each sp_ar}}
              <div class="card" style="width: 19rem;height: 28rem;box-shadow:
                rgba(0, 0, 0, 0.24) 0px 3px
                8px;margin-left:120px;cursor:pointer;">

                <img
                  class="card-img-top"
                  src="/{{this.Hinh}}"
                  alt="...">
                <div class="card-body">
                  <span style="color: #b9b7b7; text-transform:
                    uppercase;font-size: 13px;">{{this.LoaiSP}}</span>
                  <h5 class="card-title">{{this.TenSP}}</h5>
                  <p style="padding-top: 5px;font-weight: bold;color: red;"
                    class="card-text">{{this.GiaSP}}</p>
                  <div style="display: flex;justify-content: space-around;">

                    <a style="margin-left: -10px;"
                      href="/create/ChiTietSP/{{this._id}}"> <button
                        class="custom-btn btn-2">
                        Xem chi tiết</button></a>
                    <a
                      href="/create/update/{{this._id}}"> <button
                        class="custom-btn btn-1">
                        Sửa</button>
                    </a>

                    <a href="/create/delete/{{this._id}}"> <button
                        class="custom-btn btn-5">
                        Xóa</button></a>

                  </div>
                  <!-- <a href="#" class="btn btn-primary">Xem chi tiết</a> -->
                </div>
              </div>
              {{/each}}
            </div>

            <div>
              <!-- This script got from frontendfreecode.com -->
              {{!-- <nav aria-label="Page navigation">
                <ul class="pagination">
                  <li>
                    <a href="#" aria-label="Previous">
                      <span aria-hidden="true"><i class="fa fa-chevron-left"
                          aria-hidden="true"> Previous</i></span>
                    </a>
                  </li>
                  <li class="list-group-item"><a href="/create/indexs?page=1">01</a></li>
                  <li class="list-group-item"><a href="/create/indexs?page=2">02</a></li>
                  <li class="list-group-item"><a href="/create/indexs?page=3">03</a></li>
                  <li class="list-group-item"><a href="#">...</a></li>
                  <li class="list-group-item"><a href="/create/indexs?page=8">08</a></li>
                  <li class="list-group-item"><a href="/create/indexs?page=9">09</a></li>
                  <li class="list-group-item"><a href="/create/indexs?page=10">10</a></li>

                  <li>
                    <a href="#" aria-label="Next">
                      <span aria-hidden="true">Next <i
                          class="fa fa-chevron-right" aria-hidden="true"></i></span>
                    </a>
                  </li>
                </ul>
              </nav> --}}

              {{!-- <nav aria-label="Page navigation">
                <ul class="pagination">
                  <li>
                    <a href="#" aria-label="Previous" id="previousPageBtn">
                      <span aria-hidden="true"><i class="fa fa-chevron-left"
                          aria-hidden="true"></i> Previous</span>
                    </a>
                  </li>
                  <li class="list-group-item"><a href="/create/indexs?page=1">01</a></li>
                  <li class="list-group-item"><a href="/create/indexs?page=2">02</a></li>
                  <li class="list-group-item"><a href="/create/indexs?page=3">03</a></li>
                  <li class="list-group-item"><a href="/create/indexs?page=4">04</a></li>
                  <li class="list-group-item"><a href="/create/indexs?page=5">05</a></li>
                  <li class="list-group-item"><a href="/create/indexs?page=6">06</a></li>

                  <!-- Các trang khác -->
                  <li>
                    <a href="#" aria-label="Next" id="nextPageBtn">
                      <span aria-hidden="true">Next <i
                          class="fa fa-chevron-right" aria-hidden="true"></i></span>
                    </a>
                  </li>
                </ul>
              </nav> --}}

              <div id="pagination" style="margin-left: 200px">
                <nav aria-label="Page navigation example">
                  <ul class="pagination">
                    <li style="margin-right: 20px" class="page-item"><a
                        class="page-link"
                        href="/create/indexs?page=1">First</a></li>

                  </li>
                  {{#each activeButtons}}
                  {{#if @index}}
                  <li class="page-item {{this}}"><a class="page-link"
                      href="/create/indexs?page={{@index}}">{{@index}}</a></li>
                  {{/if}}
                  {{/each}}
                  {{!-- <li class="list-group-item"><a
                      href="/create/indexs?page=1">01</a></li>
                  <li class="list-group-item"><a href="/create/indexs?page=2">02</a></li>
                  <li class="list-group-item"><a href="/create/indexs?page=3">03</a></li>
                  --}}
                  <li class="page-item"><a class="page-link"
                      href="/create/indexs?page={{totalPage}}">Last</a></li>
                </ul>
              </nav>
            </div>

          </div>

        </div>
        <footer style="background-color: #deded5; width: 1563px; margin:
            -150px 0px -100px 0px;">
          <div class="container p-4">
            <div class="row">
              <div class="col-lg-6 col-md-12 mb-4">
                <h5 class="mb-3" style="letter-spacing: 2px; color: #818963;">footer
                  content</h5>
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Iste
                  atque ea quis
                  molestias. Fugiat pariatur maxime quis culpa corporis vitae
                  repudiandae aliquam
                  voluptatem veniam, est atque cumque eum delectus sint!
                </p>
              </div>
              <div class="col-lg-3 col-md-6 mb-4">
                <h5 class="mb-3" style="letter-spacing: 2px; color: #818963;">links</h5>
                <ul class="list-unstyled mb-0">
                  <li class="mb-1">
                    <a href="#!" style="color: #4f4f4f;">Frequently Asked
                      Questions</a>
                  </li>
                  <li class="mb-1">
                    <a href="#!" style="color: #4f4f4f;">Delivery</a>
                  </li>
                  <li class="mb-1">
                    <a href="#!" style="color: #4f4f4f;">Pricing</a>
                  </li>
                  <li>
                    <a href="#!" style="color: #4f4f4f;">Where we deliver?</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-3 col-md-6 mb-4">
                <h5 class="mb-1" style="letter-spacing: 2px; color: #818963;">opening
                  hours</h5>
                <table class="table" style="color: #4f4f4f; border-color:
                    #666;">
                  <tbody>
                    <tr>
                      <td>Mon - Fri:</td>
                      <td>8am - 9pm</td>
                    </tr>
                    <tr>
                      <td>Sat - Sun:</td>
                      <td>8am - 1am</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="row mt-5 ">
            <div class="col-12 text-center" style="margin-left: 20px;
                font-size: 16px; letter-spacing: 2px;">
              <p>Copyright &copy;
                <script>document.write(new Date().getFullYear());</script>.
                All
                Rights Reserved. &mdash; Designed with love by
                <a class="text-dark"
                  href="https://www.facebook.com/profile.php?id=100029595740900">StarSportShop.com</a>
                <!-- License information: https://untree.co/license/ -->
              </p>
            </div>
          </div>
          <!-- Copyright -->

        </footer>
      </div>

      {{!-- <td scope="col"></td>
      <td scope="col">{{this.HSD}}</td>
      <td scope="col">{{this.SoLuong}}</td>
      <td scope="col"></td>
      <td scope="col"></td> --}}

    </div>

  </div>
</div>

<script>
function myFunction() {
  alert("Bạn có muốn xóa sản phẩm này không ?");
}
</script>
