<h2>Thong tin sp</h2>
<a href="/sv/" class="btn btn-infor">Thông tin SV</a>
<div class="table-responsive">
    <table class="table table-hover">
        <thead class="table-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">MaSP</th>
                <th scope="col">TenSP</th>
                <th scope="col">LoaiSP</th>
                <th scope="col">HSD</th>
                <th scope="col">SoLuong</th>
                <th scope="col">GiaSP</th>
                <th scope="col">Hinh</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each sp_ar}}
            <tr>
                <td scope="col">#</td>
                <td scope="col">{{this.MaSP}}</td>
                <td scope="col">{{this.TenSP}}</td>
                <td scope="col">{{this.LoaiSP}}</td>
                <td scope="col">{{this.HSD}}</td>
                <td scope="col">{{this.SoLuong}}</td>
                <td scope="col">{{this.GiaSP}}</td>
                <td scope="col"><img src="../{{this.Hinh}}" width="150px"
                        height="150px" alt=""></td>
                <td>
                    <a href="/create/edit/{{this._id}}" class="btn btn-primary
                        btn-sm">
                        Sửa</a>
                    <a href="/create/delete/{{this._id}}" class="btn
                        btn-secondary
                        btn-sm">
                        Xóa</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
